## Final Project Proposal <br>

### Motivation & Introduction
For my DATA512: Human-centered Data Science subject, I am interested in researching and analyzing into the topics of People Analytics. I am interested in looking into what are the key reasons that make an employee leave and if there are possible indicators (existing or engineered during the course of analysis) that can help us predict employee attrition beforehand.

My Motivation to pursue this project comes from my 2 years of professional work experience as a Business Analyst for OYO, a travel & hospitality related startup. I handled their Sales Operation Analaytics and was the owner for Incentives and Performance Management project during this time. With this project, I want to further explore into the causes of what makes an employe satisfied or unsatisfied with his/her organization. Specifically in this project, we look into employee attrition and identify indicators leading to it. This project is interesting from any organisation's purview because companies not only invest money but time and resources in grooming and  training their employees. A single employee's resignation is not only a loss of head count but also a loss in terms of times, money and bandwidth. Complementing to this view, the project is also employee-centered and analyzes reasons for attrition from an employee's point of view.

I also found this topic to be in line to what I learnt about human centred data science from this class. This project can provide useful insights into what people value the most in their job: salary, evauluation or work quality. I hope to generate insights that can be readily utilized by an organisation to strengthen their decision in terms of improving employee satisfaction, and boost their enthusiasm if found low.

### Data 
<br>
For my analysis, I wanted a simpler data and one publicly available. I came across this Kaggel Data Challenge: <b>HR Data for Analytics</b>. Link to the dataset: https://www.kaggle.com/jacksonchou/hr-data-for-analytics. 

The data is publicly available and under the CC0: Public Domain license.The dataset contains employee profiles of a large company, where each record is an employee. It has the follwoing columns available:

- satisfaction_level
- last_evaluation
- number_project
- average_montly_hours
- time_spend_company
- Work_accident
- left
- promotion_last_5years
- sales
- salary

### Unknown Dependency

The above dataset contains only 10 features and has the information for a limited time duration only. So, our analysis will be limited to the insights from these 10 features only. But I belive, this should still give us important insights and answer our research questions.

### Research & Hypothesis in Mind

For this analysis, I am interested in learning about the following 3 questions:

<ul>
<li><b> Research Question 1:</b> What are factors leading to employee attrition?</li>
    
<li><b> Research Question 2: </b> Do some factors have an impact or influence on output variables, i.e. are there atleast 2 or more factors that are correlated ? Focus on these factors, understand their impact (positive or negative) on attrition</li>   
<li><b> Research Question 3: </b> Using these factors, can we predict employee attrition beforehand? Will this help in reducing employee churn?</li></ul>

<b>Hypothesis Questions:</b>
    
<ul> 
    <li><b> Hypothesis 1: </b> Emplopyees with low satisfaction and salaries are more likely to leave</li>
    <li><b> Hypothesis 2: </b> Emplopyees with higher satisfaction and promotion in the last 5 years are less likely to leave</li>
    <li><b> Hypothesis 3: </b> Build a logistic regression model using the above features and understand what are the highly significant variables</li> </ul>
   
The above hypothesis will be further developed into detailed statistical tests to find out correlation and variable significance.

### Background Work

In order to better understand this area of topic ,I firstly searched for existing research and what has been established or in demand/ask. From McKinseys article[1], I gathered that People Analytics based insights reduces employee attrition by 50% and improves business efficiency by 25%. According to Nucleus Research for every dollar invested in people analytics organisations receive a return of 13.01 dollars [2]. Even while going through Visier's website [3], I found more about the importance of performing People Analytics and what benefits it brings. In almost all of the articles that I read, I could see one topic repeating, it was: Employee Attrition or Retention. Every big organisation out there is now investing time to reduce employee attrition and improve employee satisfactions.

<b> What is Human-Centered Approach in this?</b>
I want to invest my time into the above People Analytics for not only all the above reasons but also to bring to picture the employee's point of view in it. In my analysis I want to focus on what are the factors that make an employee satisfied or happy. Based on this, I want to develop my action items or plans to organisation. For this, I plan to have a thorough analysis on different parameters such as time spent, project worked on, last-promotion date and others and from this build a logistic regression model to predict employee's likely to quit. 
    

### Methodology

Following are the steps that I will be following for this analysis:

1. <b>Data Loading & Overview</b>: Doing this step to have an overivew of what all features I have, basic statistics behind it, missing value information, etc.

2. <b> Data Cleaning & Preparing:</b> In this step, I aim to work on treating missing values and outliers, so that it doesn't skew our results. Following, I will also prepare a master table that will be further used to train my logistics regression model. 

3. <b>Exploratory Data Analysis</b>: Perform graphical analysis amongst various features wrt employee attrition and understand their relation. This step will provide more concrete advice on which features to use for setting up my hypothesis. I will also have correlation analysis in order to understand which factors have positive or negative impact on our output variable (employee attrition) and remove if found, any confounding variables.

4. <b> Model Training & Performance Testing </b>: In this step, I seek to build a Logistics Regression model which can predict which employees are more likely to quit. My reason for choosing this model is two-folds. Firstly, logistics regression suits well with the given problem statement. Given 9 features, it can efficiently consider the relations of these features and predict the outcome variable. Secondly, this model also helps us get the probability of an employee to to quit. This probability helps us in clustering employee into different buckets names high risk, medium risk or low risks. Depedning on organizational context and level of decision making, these buckets can defined strictly and then used to prepare different treatment strategies. 

5. <b> Result Discussions & Conclusions </b>: Based on the model predictions and Exploratory Data Analysis, I will then discuss the significant factors and the best next steps that would help us in increasing emplpyee satisfaction and reducing attrition. My intentions with the above analysis is to understand what influences an employee's happiness or contendedness in an organisation. 


#### Refrences

[1] https://www.mckinsey.com/solutions/orgsolutions/overview/people-analytics
[2] https://www.myhrfuture.com/blog/2019/10/1/why-is-people-analytics-so-important-for-hr
[3] https://www.visier.com/clarity/benefits-people-analytics/
[4] https://www.investopedia.com/terms/a/attrition.asp

In [6]:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from datetime import datetime as dt
# from datetime import timedelta
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"
# %matplotlib inline
# pd.set_option('float_format', '{:f}'.format)

In [7]:
# ## Reading the file
# emp_data = pd.read_csv("HR_comma_sep.csv")
# emp_data.head()
# emp_data.shape

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.380000,0.530000,2,157,3,0,1,0,sales,low
1,0.800000,0.860000,5,262,6,0,1,0,sales,medium
2,0.110000,0.880000,7,272,4,0,1,0,sales,medium
3,0.720000,0.870000,5,223,5,0,1,0,sales,low
4,0.370000,0.520000,2,159,3,0,1,0,sales,low

(14999, 10)

In [8]:
# emp_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000